<h1><%= @transactions.count %> transactions, <%= @categories.count %> categories</h1>

<table class="transactions">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Particulars</th>
    <th>Code</th>
    <th>Reference</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
  <% @transactions.each do |txn| %>
    <tr>
      <td class="date"><%= txn.date.to_date.strftime("%Y-%m-%d") %></td>
      <td><%= txn.op_name || txn.description %></td>
      <td><%= txn.combined_particulars %></td>
      <td><%= txn.combined_code %></td>
      <td><%= txn.combined_reference %></td>
      <td class="amount <%= txn.amount < 0 ? "debit" : "credit" %>">
        <%= number_with_precision(txn.amount, delimiter: ",", precision: 2) %>
      </td>
      <td class="category color-<%= txn.cached_category&.color || "none" %>">
        <% if txn.cached_category %>
          <%= link_to(txn.cached_category.title, edit_category_path(txn.cached_category)) %>
          (<%= link_to "rule", edit_rule_path(txn.cached_rule) %>)
        <% else %>
          -
        <% end %>
      </td>
    </tr>
    <% unless txn.cached_category %>
    <tr class="create-rule">
      <td class="date">Create <%= link_to "new rule", new_rule_path %>:</td>
      <% [
        { key: :description_matches, value: (txn.op_name || txn.description), title: "Description" },
        { key: :particular_matches, value: (txn.combined_particulars), title: "Particulars" },
        { key: :code_matches, value: (txn.combined_code), title: "Code" },
        { key: :reference_matches, value: (txn.combined_reference), title: "Reference" },
      ].each do |template| %>
        <td>
          <% unless template[:value].strip.downcase.blank? %>
            <%= form_for Rule.new(template[:key] => regexpise(template[:value])) do |f| %>
              <span><%= template[:title] %> match</span>
              <%= f.text_field template[:key] %>:<br>
              <span>Tag as</span>
              <%= f.select :category_id, category_options_for_select %>
              <%= hidden_field_tag :redirect_to, params[:uncategorised] ? "uncategorised" : "root_path" %>
              <%= f.submit "Create" %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <td colspan="2"></td>
    </tr>
    <% end %>
  <% end %>
</table>
