<h1><%= @transactions.count %> transactions, <%= @categories.count %> categories</h1>

<div id="chart" style="width: 100%; min-height: 500px"></div>

<%
by_week = {}
none = {}
sum = {}

@transactions.group_by { |txn| txn.date.send(@method) }.each do |date, txns|
  all_values = @categories.map { |v| [ v, 0 ] }.to_h
  none[date] = 0;
  sum[date] = 0;
  txns.each do |txn|
    if txn.cached_category.nil?
      none[date] += txn.amount
    else
      all_values[txn.cached_category] += txn.amount
    end
    sum[date] += txn.amount
  end
  by_week[date] = all_values
end
%>

<table class="transactions">
  <tr>
    <th><%= @title %> starting</th>
    <% @categories.each do |category| %>
      <th class="category color-<%= category.color %>">
        <%= link_to category.title, edit_category_path(category) %>
      </th>
    <% end %>
    <th>None</th>
    <th>Sum</th>
  </tr>
  <% by_week.each do |date, all_values| %>
  <tr>
    <th><%= date.strftime("%a %-d %b %Y") %></th>
    <% all_values.each do |category, value| %>
      <% if value.zero? %>
        <td class="amount">-</td>
      <% else %>
        <td class="amount">
          <%= link_to root_path(category: category, from: date.send(@method), to: date.send(@method_end)) do %>
            <%= content_tag(:span, class: value < 0 ? "debit" : "credit") do %>
              <%= number_with_precision(value, precision: 2, delimiter: ",") %>
            <% end %>
          <% end %>
        </td>
      <% end %>      
    <% end %>
    <td class="amount">
      <%= content_tag(:span, class: none[date] < 0 ? "debit" : "credit") do %>
        <%= number_with_precision(none[date], precision: 2, delimiter: ",") %>
      <% end %>
    </td>
    <td class="amount">
      <%= content_tag(:span, class: sum[date] < 0 ? "debit" : "credit") do %>
        <%= number_with_precision(sum[date], precision: 2, delimiter: ",") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      <%= (["Date"] + @categories.map(&:title) + ["None", "Sum"]).to_json.html_safe %>,
      <% by_week.each do |date, all_values| %>
      [
        new Date("<%= date.strftime("%Y-%m-%d") %>"),
        <% all_values.each do |category, value| %>
          <%= value %>,
        <% end %> <%= none[date] %>, <%= sum[date] %>
      ],
      <% end %>
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' },
      colors: <%= (@categories.map(&:color) + ["#ccc", "magenta"]).to_json.html_safe %>,
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>
