
<%
by_week = {}
none = {}
sum = {}
category_sum = {}

expenses = 0
latest_date = nil
expense_length = 12.months

@transactions.sort_by(&:date).reverse.group_by { |txn| txn.date.send(@method) }.each do |date, txns|
  latest_date ||= date.to_date

  all_values = @categories.map { |v| [ v, 0 ] }.to_h
  none[date] = 0;
  sum[date] = 0;
  txns.each do |txn|
    if txn.cached_category.nil?
      none[date] += txn.amount
    else
      all_values[txn.cached_category] += txn.amount
      if txn.date >= latest_date - expense_length
        unless ["income", "exceptional"].include?(txn.cached_category.title)
          expenses += txn.amount
        end
      end
    end
    sum[date] += txn.amount
    category_sum[txn.cached_category] ||= 0;
    category_sum[txn.cached_category] += txn.amount;
  end
  by_week[date] = all_values
end
%>

<h1><%= @transactions.count %> transactions, <%= @categories.count %> categories</h1>

<h3>
  <%= expense_length / 1.month %> months to <%= latest_date.strftime("%a %-d %b %Y") %>:
  <%= number_with_precision(expenses, precision: 2, delimiter: ",") %> expenses
  &#x21D2;
  <%= link_to "FIRE", "https://time.com/nextadvisor/investing/retirement/how-to-find-your-fire-number/" %>
  = $<%= number_with_precision(expenses * 25 / -1e6, precision: 2, delimiter: ",") %>m
</h3>

<div id="chart" style="width: 100%; min-height: 500px"></div>

<% category_order = {} %>

<table class="transactions">
  <tr>
    <th><%= @title %> starting</th>
    <% @categories.each do |category| %>
      <th class="category color-<%= category.color %>">
        <%= link_to category.title, edit_category_path(category) %>
      </th>
    <% end %>
    <th>None</th>
    <th>Sum</th>
  </tr>
  <% by_week.each do |date, all_values| %>
  <tr>
    <th><%= date.strftime("%a %-d %b %Y") %></th>
    <% all_values.each do |category, value| %>
      <%
        category_order[category] ||= 0
        category_order[category] += value
      %>
      <% if value.zero? %>
        <td class="amount">-</td>
      <% else %>
        <td class="amount">
          <%= link_to root_path(category: category, from: date.send(@method), to: date.send(@method_end)) do %>
            <%= content_tag(:span, class: value < 0 ? "debit" : "credit") do %>
              <%= number_with_precision(value, precision: 2, delimiter: ",") %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
    <td class="amount">
      <%= content_tag(:span, class: none[date] < 0 ? "debit" : "credit") do %>
        <%= number_with_precision(none[date], precision: 2, delimiter: ",") %>
      <% end %>
    </td>
    <td class="amount">
      <%= content_tag(:span, class: sum[date] < 0 ? "debit" : "credit") do %>
        <%= number_with_precision(sum[date], precision: 2, delimiter: ",") %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <% category_order.each do |category, sum| %>
      <th><%= number_with_precision(sum, precision: 2, delimiter: ",") %></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      <%= (["Date"] + @categories.map(&:title) + ["None", "Sum"]).to_json.html_safe %>,
      <% by_week.each do |date, all_values| %>
      [
        new Date("<%= date.strftime("%Y-%m-%d") %>"),
        <% all_values.each do |category, value| %>
          <%= value %>,
        <% end %> <%= none[date] %>, <%= sum[date] %>
      ],
      <% end %>
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' },
      colors: <%= (@categories.map(&:color) + ["#ccc", "magenta"]).to_json.html_safe %>,
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>
