<h1><%= @transactions.count %> transactions, <%= @categories.count %> categories</h1>

<div id="chart" style="width: 100%; min-height: 500px"></div>

<%
by_week = {}

@transactions.group_by { |txn| txn.date.beginning_of_week }.each do |date, txns|
  all_values = (@categories + [nil]).map { |v| [ v, 0 ] }.to_h
  txns.each do |txn|
    all_values[txn.cached_category] += txn.amount
  end
  by_week[date] = all_values
end
%>

<table class="transactions">
  <tr>
    <th>Week starting</th>
    <% @categories.each do |category| %>
      <th class="category color-<%= category.color %>">
        <%= link_to category.title, edit_category_path(category) %>
      </th>
    <% end %>
    <th>None</th>
  </tr>
  <% by_week.each do |date, all_values| %>
  <tr>
    <th><%= date.strftime("%a %-d %b %Y") %></th>
    <% all_values.each do |category, value| %>
      <% if value.zero? %>
        <td class="amount">-</td>
      <% else %>
        <td class="amount">
          <%= content_tag(:span, class: value < 0 ? "debit" : "credit") do %>
            <%= number_with_precision(value, precision: 2, delimiter: ",") %>
          <% end %>
        </td>
      <% end %>      
    <% end %>
  </tr>
  <% end %>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      <%= (["Date"] + @categories.map(&:title) + ["None"]).to_json.html_safe %>,
      <% by_week.each do |date, all_values| %>
      [
        new Date("<%= date.strftime("%Y-%m-%d") %>"),
        <% all_values.each do |category, value| %>
          <%= value %>,
        <% end %>
      ],
      <% end %>
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' },
      colors: <%= (@categories.map(&:color) + ["#ccc"]).to_json.html_safe %>,
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>
