<!DOCTYPE html>
<html>
  <head>
    <title>Budget21</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Uncategorised", root_path(uncategorised: true) %>
      -
      <%= link_to "By week", welcome_weeks_path %>
      <%= link_to "By month", welcome_months_path %>
      -
      <%= link_to "Accounts", accounts_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "Rules", rules_path %>
    </nav>

    <% [flash[:notice], flash[:notices]].compact.each do |content| %>
      <%= render partial: "layouts/messages_collection", locals: { content: content, messages_type: "notice" } %>
    <% end %>

    <% [flash[:error], flash[:errors]].compact.each do |content| %>
      <%= render partial: "layouts/messages_collection", locals: { content: content } %>
    <% end %>

    <%= yield %>
  </body>
</html>
