<!DOCTYPE html>
<html>
  <head>
    <title>Budget21</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Accounts", accounts_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "Rules", rules_path %>
    </nav>

    <% [flash[:notice], flash[:notices]].compact.each do |content| %>
      <%= render partial: "layouts/messages_collection", locals: { content: content, messages_type: "notice" } %>
    <% end %>

    <% [flash[:error], flash[:errors]].compact.each do |content| %>
      <%= render partial: "layouts/messages_collection", locals: { content: content } %>
    <% end %>

    <%= yield %>
  </body>
</html>
